.productCar_list{
    padding: 0 0.3rem;
    padding-bottom:0.3rem;
    padding-top:1.33rem;
    background: #fff;
    overflow-x: hidden;
}
.car_list{
    height: 4.0rem;
    padding: 0.3rem 0;
    border-bottom: 1px solid #ddd;
}
.session-box{
    width:calc(100% + 1.3rem);
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    height: 4.0rem;
}
.table{
    width:100%;
    overflow-x: hidden;
}
.session-content{
    float:left;
    height: 3.4rem;
    width: calc(100% - 1.3rem);
}
.del-btn{
    width:1.2rem;
    text-align: center;
    height: 3.4rem;
    line-height: 3.4rem;
    color: #fff;
    font-size: 0.34rem;
    background: #B0272B;
    /*background: url(../../img/shop_bg.png)no-repeat center center;*/
    /*background-size: 100% 100%;*/
    float: right;
}
.del-btn a{
    color: #fff;
}
.car_img{
    width: 2.4rem;
    height: 3.386666rem;
    border-radius: 0.10666rem;
    /*vertical-align: top;*/
}
.car_img img{
    width:100%;
    height:100%;
    display: block;
}
.car_check{
    margin-top: 1.7rem;
    width:1.0rem;
    text-align: center;
}
.productCar .product_btn .Settlement{
    width: 2.0rem;
    height: 1rem;
    line-height: 1.0rem;
    text-align: center;
    font-size: 0.36rem;
    color: #fff;
    border-radius: 0.2rem;
    background: #B0272B;
    /*background-size: 100% 100%;*/
    margin-top: 0.2rem;
    padding: 0 0.2rem;
    display: block;
    margin-right: 0.3rem;
}
.productCar .car_hide{
    display: none;

}
.caruncheck{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../../img/unchecked.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    /*margin: 0 auto;*/
}
.carcheck{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../../img/checked2@3x.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    /*margin: 0 auto;*/
}
.car_listDetail{
    padding-left: 0.3rem;
    width: 4.0rem;
    /*vertical-align: top;*/
}
.car_listName{
    font-size: 0.4rem;
    line-height: 0.6rem;
    height:1.5rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display:box;
}
.car_listSku{
    color: #666;
    font-size: 0.34rem;
    line-height: 0.8rem;
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display:box;
}
.car_listPrice{
    font-size: 0.4rem;
    color: rgb(213,0,95);
    line-height: 0.8rem;
}
.del{
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
}
.car_listOperation{
    /*vertical-align: top;*/
    width: 1.5rem;
}
.sure_num {
    text-align: center;
    height: 3.4rem;
    line-height: 3.4rem;
    font-size: 0.4rem;
    color: #fff;
    background: url("../../img/shop_bg.png")no-repeat center center;
    background-size: 100% 100%;
}
.quantity{
    padding: 0.2rem 0;
}
.num{
    line-height: 0.5rem;
}
.productCar .num input{
    width: 1.0rem;
     font-size: 0.34rem;
    color:#000;
    border: none;
    height: 0.6rem;
    text-align: center;
    background: #ddd;
}

.productCar .add{
    margin: 0 0.05rem;
    text-align: center;
    color:#000;
    font-size: 0.5rem;
    line-height: 0.6rem;
    width: 0.8rem;
    background: #dddddd;
}
.productCar .sub{
    margin: 0 0.05rem;
    text-align: center;
    color:#999;
    font-size: 0.5rem;
    line-height: 0.6rem;
    width: 0.8rem;
    background: #dddddd;
}
 .sub.active {
    color:#000;
}
.add.active{
    color: #999;
}
.del img{
    width: 100%;
    height: 100%;
}
.car_listCount{
    color: #666;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.5rem;
    line-height: 0.8rem;
}
.selectall{
    margin: 0.4rem auto;
    margin-left: 0.3rem;
}
.Settlement_span{
    color:#000;
    font-size: 0.4rem;
    margin: 0 0.3rem;
}


