.productrefund .productorder-good img{
    width: 1.7066rem;
    height: 2.4rem;
}
.productrefund .productorder-good .refund-result{
    float: right;
    margin-right: 0.5rem;
}
.productrefund .productorder-good div i.arrow{
    background: url(../../img/arrow.png);
    background-size: 100%;
}
.productrefund .productorder-good div i{
    width: 0.1866rem;
    height: 0.32rem;
    margin-top: 0.13333rem;
    background: #E5E5E5;
    position: absolute;
    right: 0.48rem;
}
.productrefund .productorder-good ul li{
    font-size:  0.32rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 6rem;
    margin-left: 0.15rem;
}
.productrefund .productorder-good .list .good-productName,.productrefund .productorder-good .list .good-good-name{
    font-size: 12px;
    font-weight: 600;
}
.productrefund .productorder-good .list .good-property{
    color: #999;
}
.productrefund .productorder-good ul .productorder-good-property{
    font-size:  0.32rem;
    color: #ccc;
}
.productrefund .productorder-good{
    padding: 0.32rem 0.4266rem;
}
.productrefund .productorder-good .price{
    color: red;
}
.productrefund .productorder-good .productorder-good-list .list{
    display: inline-block;
    vertical-align: top;
}
.productrefund .productorder-good .refund_div{
   border-bottom: 1px solid #ccc;
    width: 100%;
   padding: 0.4rem 0rem;
}
.productrefund .productorder-good div span{
    font-size:  0.32rem;
}
.productrefund .photo{
    margin: 0.45rem 0.45rem 0rem;
}
.productrefund .photo .photo-title{
    font-size:  0.32rem;
    display: block;
    margin-bottom: 0.3rem;
}
.productrefund .photo .box{
    position: relative;
    border: 1px dotted #000;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}
/*上传图片*/
#uploader_file{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 2.0rem;
    height: 2.0rem;
}
.productrefund .thumb .img>img{
    width: 2.0rem;
    height: 2.0rem;
    display: block;
}
.productrefund .thumb{
    position: relative;
    margin: 0.1rem;
}
.productrefund .thumb>span{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0.32rem;
    height: 0.32rem;
    background: url(../../img/comments_delete.png) no-repeat center;
    background-size: 100%;
}
.productrefund .photo .box img{
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    margin: 0 auto;
}
.productrefund .photo .box .text{
    display: block;
    font-size: 0.32rem;
    text-align: center;
}
.productrefund .submit{
    position: fixed;
    bottom: 0rem;
    width: 100%;
    background: #fff;
    padding: 0.23rem 0.356rem;
}
.productrefund .refund-submit{
    background: #FFD300;
    padding: 0.3rem 0;
    text-align: center;
    border-radius: 0.32rem;
    font-size: 15px;
}
.productrefund .mask .alert_box .alert_con .alert_title{
    padding: 0.32rem 0em 0.6rem 0rem;
}
.productrefund .mask .alert_box .alert_con .alert-result::after{
    content: "";
    height: 1px;
    width: 100%;
    background: #ccc;
    display: block;
    margin: 0.35rem 0rem;
}
.productrefund .mask .alert_box .alert_con .alert-result span{
    font-size: 14px;
    font-weight: 600;
}
.productrefund .mask .alert_box .alert_con .alert-result img{
    position: absolute;
    right: 0.5rem;
    width: 0.4rem;
}
.productrefund .mask .alert_box .alert_con .btn-sure{
    background: #FFD300;
    padding: 0.3rem 0rem;
    text-align: center;
    margin: 1.2rem 0rem 0.25rem;
    border-radius: 0.25rem;
    font-size:  0.32rem;
}
/*退货说明*/
.productrefund .input_explain{
    width: 7.0rem;
    font-size: 0.32rem;
    border: none;
}