.min-top{
    height:1.0rem;
    line-height: 1.0rem;
    font-size:0.32rem;
    width: 4.0rem;
    overflow: hidden;
    text-align: left;
    border-right: 1px solid #ddd;
}
.min-top a{
    height: 1.0rem;
    line-height: 1.0rem;
    font-size: 0.32rem;
    width: 4.0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #333;
    cursor: pointer;
    /*border-right: 1px solid #ddd;*/
}
.m-scree a{
    height: 1.0rem;
    line-height: 1.0rem;
    font-size: 0.32rem;
    width: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #333;
    cursor: pointer;

}
.m-scree a span{
    cursor: pointer;
}
.m-scree .m-scree-on{
    background:#fff;
    border-right: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 20000;
}
.m-scree{
    cursor: pointer;
    float: left;
    width: 4.5rem;
    height: 1.0rem;
    line-height: 1.08rem;
    font-size: 0.32rem;
    /*border-right: 1px solid #ddd;*/
    /*margin-left: 1.555rem;*/
    text-align: center;
}
.ct .itm{
    float: left;
    display: block;
    min-width: 4.0rem;
    _width: 130px;
    line-height: 0.8rem;
    /* padding: 4px; */
    text-align: center;
    border: 1px solid #fff;
    /* margin: 0 0 10px 10px; */
    margin: 0.2rem;
    border: 1px solid #eaeceb;
    display: inline;
    background-color: #fff;
}
.ct .itm.active  {
    border: 1px solid rgb(213,0,95);
    /*background: url(../img/m-datepicker-sel.png)no-repeat right bottom;*/
}
.ct{
    /* display: none; */
    width: 100%;
    background: #FFF;
    /* padding: 20px; */
    position: absolute;
    left: 0px;
    /* margin-left: -445px; */
    top: 1.0rem;
    border: 1px solid #a8a8a8;
    z-index: 200;
    /* display: none; */
    max-height: 160px;
    overflow-y: auto;
    border-right: 1px solid #a8a8a8;
}
.seat{
    background: #f1f1f1;;
}
.seat .footer{
    margin-top: 0px!important;
}
.new-down-arrow {
    width: 7px;
    height: 4px;
    /*background: url(../img/down.png) no-repeat center center;*/
    display: inline-block;
    margin: -5px 0 0 5px;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 10px;
}


.seat_content{
    background: #fff;
}

.head{
    box-shadow: none!important;
}

#pt{
    margin-left: 2%;
}

.seat_zj{
    position: fixed;
    bottom:0.1rem;
    left: 0;
    height: 1.1rem;
    width: 100%;
    background: #fff;
}
.zj_btn{
    width: 30%;
    background: #B0272B;
    height: 1.1rem;
    display: inline-block;
    line-height: 1.1rem;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-right: 2%;
    float: left;
    /*margin-top: 0.1rem;*/
}

.zj_total {
    width: 51%;
    height: 1.1rem;
    display: inline-block;
    text-align: center;
    /*background: red;*/
    line-height: 1.1rem;
    float: left;
}

.seat_car_car{
    width: 1.1rem;
    /* background: beige; */
    display: inline-block;
    text-align: center;
    margin-left: 2%;
    height: 1.1rem;
    line-height: 1.1rem;
    float: left;
    background: url(../img/car.png)no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}

.zj_total span:nth-child(1){
    font-size:16px;
    color:#B0272B;
}
a{
    text-decoration: none;
}


/*//弹窗样式*/
.seat_dailog{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 1.4rem;
    z-index: 1001;
    overflow: hidden;
    display: none;
    background: rgba(0,0,0,.8);
}
.seat_box2 {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #fff;
}

#Seat_alertBox{
    width:100%;
}

#Seat_alertBox tr{
    text-align:center;
    height: 0.8rem;
    line-height:0.8rem
}

.seat_car_car span.seat_num{
    color: #fff;
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    background: #B0272B;
    border-radius: 50%;
    line-height: 0.7rem;
    font-size: 0.4rem;
    position: absolute;
    top: 0px;
    right: -0.4rem;
}
/*新svg*/
#svg{
    width: 320px;
    margin: 0 auto;
}
#seats circle.seatselected{
    stroke:red;
}
#seats circle.active{
    fill: #ddd;
}

#seatsLoading{
    display: none;
    position: fixed;
    width:220px;
    height:38px;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -110px;
    z-index: 99999;
}
#seatsLoading img{
    width: 100%;
    height: 100%;
    display: block;
}

.m-scree-title .icon_arrow{
    float:right;
    width:0.4rem ;
    height: 0.22rem;
    background: url("../img/down_icon.png")no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 0.39rem;
}
.m-scree-title.m-scree-on .icon_arrow{
    background: url("../img/up_icon.png")no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}