<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>聚会神器-独角秀</title>
    <meta name="keywords" content="约会，约电影，约演出，约运动，约旅行，约游戏，约遛狗，约吃饭,同城活动,同城交友,演出门票, 演唱会门票,话剧门票,音乐会门票,体育赛事门票,电影,观影, Repo,交友,约,亲子,舞剧门票">
    <meta name="description" content="独角秀是一款同城活动同城交友的APP，打造多场景约会，约电影，约演出，约运动，约旅行，约游戏，约遛狗，约吃饭，约会场景，让遇见变有趣，让约会不尬聊。">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="x5-page-mode" content="app">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body ng-app="stareal">
  <div ui-view></div>
  <script src="${cxt!}/static/js/flexible.debug.js"></script>
  <script src="${cxt!}/static/js/vendor/jquery.min.js"></script>
  <script type='text/javascript' src="${cxt!}/static/js/vendor/snap.svg-min.js"></script>
  <!--<script src="//cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>-->
  <script src="${cxt!}/static/js/vendor/zepto.min.js"></script>
  <script src="${cxt!}/static/js/vendor/angular.min.js"></script>
  <script src="${cxt!}/static/js/modules/libs.js"></script>
  <script src="${cxt!}/static/js/vendor/angular-ui-router.min.js"></script>
  <script src="${cxt!}/static/js/modules/alert.js"></script>
  <!--<script src="${cxt!}/static/js/modules/angular-file-upload.min.js"></script>-->
  <script src="${cxt!}/static/js/vendor/swiper.min.js"></script>
  <script src="${cxt!}/static/js/vendor/touch_move.js"></script>
  <script src="${cxt!}/static/js/vendor/fastclick.js"></script>
  <script src="${cxt!}/static/js/vendor/touch.min.js"></script>
  <script src="${cxt!}/static/js/vendor/svg-pan-zoom.js"></script>
  <script src="${cxt!}/static/js/vendor/hammer.js"></script>
  <!-- 这个init文件在最上方 -->
  <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <!--<script src="${cxt!}/static/js/share.js"></script>-->

  <script src="${cxt!}/static/js/app.js"></script>
  <script src="${cxt!}/static/js/route.js"></script>
  <script src="${cxt!}/static/js/api.js"></script>
  <script src="${cxt!}/static/js/filter.js"></script>
  <script src="${cxt!}/static/js/directives/index.js"></script>
</body>
<access-certification token='${accessToken!}' openid='${openid!}' rs='${rs!}'unionid="${unionid!}" isbind="${isbind!}"></access-certification>
<stareal-alert></stareal-alert>

</html>
