<div class="detail" ng-controller="DetailController">
    <style>
        html,body{
            background:#f1f1f1;
        }
        body{
            cursor:pointer;
        }
    </style>
    <!--商品详情开始-->
    <div class="good">
        <div class="good_bg">
            <a ui-sref="main.index"></a>
            <!--<a></a>-->
        </div>
        <div class="good_con">
            <div class="good-box clear">
                <div class="thumb fl">
                    <img ng-src="{{good.thumb}}" alt="">
                </div>
                <div class="info fl">
                    <div class="title">
                        <p class="hd2" ng-bind="good.title"></p>
                    </div>
                    <div class="good_type">
                        <div class="price clear">
                            <p class="fl">
                                <span ng-show="!(good.state=='即将开票'&&good.price=='0')" ng-bind="good.price"></span>
                                <span ng-show="good.state=='即将开票'&&good.price=='0'" class="state_f12">待定</span>
                                <em ng-show="!(good.state=='即将开票'&&good.price=='0')">元起</em>
                            </p>
                            <p class="fl seat_pic" ng-click="lookSeat()"></p>
                            <p class="fr" ng-if="star"><span ng-bind="star[0]"></span>.<span>{{star[1]}}分</span></p>
                            <p ng-if="!star" class="fr">暂无评分</p>
                        </div>
                        <div class="sold_num">已售出{{good.sold}}张</div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="time"><i></i><span>{{good.date}}</span></div>
                <div class="addres1"><i></i><span>{{good.site_title}}</span></div>
                <div class="addres2" ng-bind="good.address"></div>
            </div>
        </div>
    </div>
    <!--商品详情结束-->
    <!--巡演开始-->
    <div class="tour" ng-show="tours.length>0">
        <h4>巡演信息</h4>
        <div class="swiper-container">
            <div class="swiper-wrapper" id="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="tour in tours" ui-sref="main.detail({good_id:tour.good_id})" ng-class="{active:isActive(tour.good_id)}">
                    <div class="xunyan hd1 f14" ng-bind="tour.title"></div>
                    <p class="f12" ng-bind="tour.date"></p>
                </div>
            </div>
        </div>
    </div>
    <!--巡演结束-->
    <!--演出简介开始-->
    <div class="intro">
        <h4>演出简介</h4>
        <div class="intro_info">
            <p ng-bind="good.introduction" ng-if="good.introduction.length>1"></p>
            <p style="text-align:center" ng-if="good.introduction.length==1">暂无简介</p>
        </div>
        <div class="more" ng-if="good.introduction.length>1" ui-sref="main.gooddetail">查看全部</div>
    </div>
    <!--演出简介结束-->
    <!--购票须知开始-->
    <div class="intro">
        <h4>购票须知</h4>
        <div class="intro_info">
            <p ng-bind="good.notice"></p>
        </div>
    </div>
    <!--购票须知结束-->
    <!--评论开始-->
    <div class="comment" ng-controller="PublicController">
        <div class="com_title">
            <h4>评论</h4>
        </div>
        <div class="commen_num clear">
            <div class="avatar fl"><img src="{{user.headimgurl}}" err-src="static/img/userdefault.png" alt=""></div>
            <div class="wz fl" ng-click="write()" ng-bind="totalRe==0?'暂无评论,快来抢沙发吧~':'已有'+totalRe+'条评论,我也说几句吧~'"></div>
        </div>
        <!--评论列表开始-->
        <div class="comment_list" ng-if="reviews.length!=0">
            <div class="comment_row" ng-repeat="review in reviews">
                <ul>
                    <li class="clear">
                        <div class="avatar fl" ui-sref="main.allreply({comment_id:review.id})"><img src="{{review.headimgurl}}" err-src="static/img/userdefault.png" alt=""></div>
                        <div class="comment_cont fl" ui-sref="main.allreply({comment_id:review.id})">
                            <div class="itme_1 clear">
                                <div class="name fl">
                                    <p ng-bind="review.nickname"></p>
                                </div>
                                <div class="star fl clear" ng-style="setPost(review.star)"></div>
                                <div class="fun fr clear">
                                    <div class="like fl"><span class="fl"></span><span class="fl" ng-bind="review.reply"></span></div>
                                    <div class="reply fl"><span class="fl {{review.is_praise==0?'':'liked'}}" ng-click="IsPraise(review.id,$index,review.like,'detail',$event)"></span><span class="fl" ng-bind="review.like"></span></div>
                                </div>
                            </div>
                            <div class="itme_2">
                                <p ng-bind="getDateDiff(getDateTimeStamp(review.timeline))"></p>
                            </div>
                            <div class="my_con nomg">
                                <p ng-bind="review.content"></p>
                            </div>
                            <div style="background: #F9F9F9;margin-top: 0.16rem;padding: 0.16rem;border-radius: 0.1066rem" ng-hide="review.replies.length==0">
                            <div class="from_con" ng-repeat="replie in review.replies">
                                <!--<p ng-if="replie.from_name"><span class="color999" ng-bind="replie.from_name+'：'"></span><span ng-bind="replie.content">购票须知不是有吗？是连坐的。</span></p>-->
                                <p><span class="color999" ng-bind="replie.to_name!=''?replie.from_name:replie.from_name">bowen</span><span ng-hide="replie.to_name">：</span><i style="font-style:normal" ng-if="replie.to_name">回复</i><span class="color999" ng-if="replie.to_name" ng-bind="replie.to_name+'：'">天道</span><span ng-bind="replie.content">这样啊 刚过没看到额</span></p>
                            </div>
                            </div>
                            <div class="itme_img_box clear" ng-if="review.attach">
                                <div class="itme_img" ng-repeat="atta in review.attach.split(',').slice(0,5)" img-view img-arr="review.attach" ng-style="{width:'{{review.attach.split(',').length==1?'2.6666rem':''}}',height:'{{review.attach.split(',').length==1?'2.6666rem':''}}'}">
                                    <img ng-src="{{atta}}" alt="">
                                </div>
                            </div>
                            <div class="more" ng-if="review.replies.length>=3">
                                <p ng-bind="'查看全部'+review.reply+'条回复'"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--评论列表结束-->
    </div>
    <!--评论结束-->
    <!--查看全部评论开始-->
    <div class="more_all">
        <span ng-if="reviews.length==0">暂无留言</span>
        <span ng-if="!reviews.length==0" ui-sref="main.allcomments({good_id:current})">查看全部评论</span>
    </div>
    <!--查看全部评论结束-->
    <!--立即购票开始-->
    <div class="gogo">
        <div class="footer" style="height:1.3333rem"></div>  <!--解决fixed显示不全bug--->
        <div class="shop_box clear">
            <div class="fun_btn fl clear">
                <a href="" class="fl" ng-click="write()"></a>
                <a href="" class="fl {{favor==0?'':'liked'}}" ng-click="collect(good.id)"></a>
            </div>
            <div class="shop_btn fr">
                <span class="br {{shop_bg}}" ng-click="go(gf,$event)" ng-bind="gbn"></span>
            </div>
        </div>
    </div>
    <!--立即购票结束-->
    <!--预约登记弹窗开始-->
    <div class="mask">
        <div class="alert_box pd_rl16 pd_rl12" style="padding-bottom:0">
            <div class="alert_con">
                <div class="alert_title f16">预约登记</div>
                <div class="subscribe_time f14 pd_rl12">
                    <p>时间</p>
                    <p ng-bind="good.date"></p>
                </div>
                <div class="subscribe_tips pd_rl16 f12">提示：本票品为预约状态，我们将纪录您的信息，在有票时通知您</div>
                <div class="subscribe_btn f16">
                    <p>手机号：<input type="number" placeholder="请填写手机号" ng-model="telphone_no" style="border:none;border: 1px solid #e5e5e5;border-radius: 0.1rem;height: 0.6666rem;-webkit-appearance: none;width: 4.8rem"></p>
                    <a href="" class="f16" ng-click="subscribe()">提交</a>
                </div>
            </div>
            <div class="cloes" ng-click="close()">X</div>
        </div>
    </div>
    <!--预约登记弹窗结束-->
    <!--预约登记弹窗开始-->
    <div class="seat_mask" ng-click="closeSeat()">
        <div class="seat_box" ng-click="stopPropagation($event)">
            <img ng-src="{{seat}}" alt="">
        </div>
    </div>

    <!--预约登记弹窗结束-->




    <!--立即购票弹窗开始-->
       <!--时间开始-->
    <div class="tic" >
        <div class="alertBox"  ng-show="good.good_type==0">
            <div class="time">
                <div class="time_scroll swiper-container">
                    <ul class="clear swiper-wrapper">
                        <li class="swiper-slide {{$index == paras.planIndex?'active':''}}" ng-repeat="plan in plans" ng-click="switchPlan($index)" ng-style="{width:'{{plans.length<=3?'2.85rem':''}}'}">
                            <p ng-bind="plan.name | buildDate:'before'">03月11日</p>
                            <p ng-bind="plan.name | buildDate:'after'">周六20:00</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--时间结束-->
            <!--票面价格开始-->
            <div class="fare fare_type">
                <h4>票面价格</h4>
                <div class="fare_list">
                    <ul class="clear" ng-repeat="cat in cats">
                        <li class="{{gory.status?'':'disabled'}} {{$parent.$index == paras.catIndex1 && $index == paras.catIndex2 ?'active':''}}" ng-repeat="gory in cat.children" ng-click="switchCat($parent.$index,$index,gory.status,$event)">
                            <span ng-hide="gory.status==''" ng-style="ticketType(gory.name,gory.children[0].price).defstyle" ng-bind="ticketType(gory.name,gory.children[0].price).ticketText"></span>
                            <p ng-bind="cat.id+gory.name">内场755元</p>
                            <p ng-show="gory.status==''">到货提醒</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--票面价格结束-->
            <!--座位信息开始-->
            <div class="fare seat" style="padding-top:0">
                <h4>座位信息</h4>
                <div class="fare_list">
                    <ul class="clear">
                        <li class="{{$index == paras.priceIndex ?'active':''}}" ng-hide="!price.status" ng-repeat="price in prices" ng-click="switchPrice($index,price.status)" ng-show="sf || $index < 6">
                            <span ng-show="price.num>=10" ng-bind="price.name"></span>
                            <p ng-show="price.num<10" ng-bind="price.name">随机连坐</p>
                            <p ng-show="price.num<10" ng-bind="'仅剩'+price.num+'张'"></p>
                        </li>
                    </ul>
                </div>
           </div>
    <!--座位信息结束-->
    <!--商品数量开始-->
                <div class="good_num clear">
                    <div class="shuliang fl">
                        <h4>数量</h4>
                    </div>
                    <div class="quantity fl clear">
                        <div class="sub {{num>1?'active':''}} fl" ng-click="subNum()"></div>
                        <div class="num fl"><input type="text" ng-model="num" disabled></div>
                        <div class="add {{num==max?'active':''}} fl" ng-click="addNum()"></div>
                    </div>
                </div>
                <div style="height:1.4rem"></div>
                <div class="cloes" ng-click="ticClose()"></div>
                <!--商品数量结束-->
                <!--立即支付开始-->
                <div class="total_box shop_box clear">
                    <!--<div class="total_price fl">-->
                        <!--<p><span ng-bind="total | currency:'¥'">¥5880.00</span><span>({{num}}张)</span></p>-->
                    <!--</div>-->
                    <div class="total_btn " ng-click="createOrder(gf)">
                        确认订单
                    </div>
           </div>
            <div class="cloes" ng-click="ticClose()"></div>
        </div>
    </div>

        <!--//关闭-->


    <!--立即支付结束-->
    <!--到货提醒弹窗开始-->
    <div class="mask1">
        <div class="alert_box1 pd_rl16 pd_rl12" style="padding-bottom:0">
            <div class="alert_con">
                <div class="alert_title f16">到货提醒</div>
                <div class="subscribe_time f14 pd_rl12">
                    <p>时间</p>
                    <p ng-bind="time">2017-01-15周日19:00</p>
                </div>
                <div class="subscribe_time f14 pd_rl12" style="margin-top:0">
                    <p>票面价格</p>
                    <p ng-bind="price2+'元'">480元</p>
                </div>
                <div class="subscribe_tips pd_rl16 f12">提示：本票价已售罄，我们将纪录您的信息，在有票时通知您</div>
                <div class="subscribe_btn f16">
                    <p>手机号：<input type="number" placeholder="请填写手机号" ng-model="telphone_no" style="border:none;border: 1px solid #e5e5e5;border-radius: 0.1rem;height: 0.6666rem;-webkit-appearance: none;width: 4.8rem"></p>
                    <a href="" class="f16" ng-click="submitPop()">提交</a>
                </div>
            </div>
            <div class="cloes" ng-click="close()"></div>
        </div>
    </div>
    <!--到货提醒弹窗结束-->
       <!--<div class="cloes" ng-click="close()">X</div>-->



    <div class="xuanzuo_content">
        <div class="good_conten " style="width:10rem;margin-top: 0px;" ng-show="good.good_type==1">
            <div class="l_con" style="width: 100%;background: #fff;" >
                <!--在线选座-->
                <div class="goupiao clear" style="position: relative;">
                    <div class="guopiao-con">
                        <div class="bookbox clear">
                            <!--选择场次开始-->
                            <div class="time clear" >
                                <!--<div class="book_row_title fl">-->
                                    <!--选择时间：-->
                                <!--</div>-->
                                <div class="book_row_table fl">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                            <div class="time clear" >
                                <div class="book_row_table fl">
                                    <div id="calendarEvent">
                                        <div class="c-event-grid">
                                            <div class="c-event-body">
                                                <div class="c-event-list">
                                                    <div class="c-event-item  {{$index == paras.planIndex?'active':''}}  {{dshow == plan.day?'c-event-over1':''}}" data-time-id="{{plan.id}}" data-event-index="{{$index}}" data-event-day="{{plan.day}}" ng-repeat="plan in plans" ng-click="switchPlan($index,{{plan.eventId}})" >
                                                        <div class="title">
                                                            <span ng-bind="plan.name | buildDate:'before'"></span>
                                                            <span ng-bind="plan.name | buildDate:'after'"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="price clear" style="display: none;">
                                <div class="book_row_title fl">
                                    票面价格：
                                </div>
                                <div class="book_row_table fl">
                                    <ul ng-repeat="cat in cats" class="clear" style="margin-top: 15px;">
                                        <li class="fl {{gory.status?'':'disabled'}} {{$parent.$index == paras.catIndex1 && $index == paras.catIndex2 ?'active':''}}" ng-repeat="gory in cat.children" ng-click="switchCat($parent.$index,$index,gory.status)">
                                            <p ng-bind="gory.name" ng-show="gory.status!=''"></p>
                                            <p ng-show="gory.status==''" ng-click="pop()" ng-bind="gory.name"></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--提交按钮-->
                    <div class="create-order">
                        <div class="order-price " style=" margin:20px auto;">
                            <!--<p ng-bind="total | currency:'￥'"></p>-->
                            <!--ng-click="createOrder(gf)"-->
                            <!--<div class="create-btn fr"  ng-click="selectsiteModa()">选座购票</div>-->
                            <div class="create-btn "  ng-click="selectseats()">选座购票</div>
                        </div>
                    </div>
                    <div class="xuanClose" ng-click="Xuanclose()">&times;</div>
                </div>

               </div>
             </div>
        </div>
  </div>
</div>





