<div class="product list_style" ng-controller="NewsListController">
    <!--头部开始-->
    <div class="top list_top">
        <span class="title"  ui-sref="main.newssearch">搜索资讯..</span>
        <i class="search" ui-sref="main.newssearch"></i>
        <i class="screen {{sf==true?'active':''}}" ng-click="toggle()"></i>
    </div>
    <!--头部结束-->
    <!--筛选开始-->
    <div ng-show="sf">
        <div class="bg" ng-click="sf = false"></div>
        <div class="Sortsearch pd_rl12">
            <div class="hot_block" ng-click="filter('hot','desc')">
                <i ng-class="{true: 'hotter_active fl', false: 'hotter'}[isHot]"></i>
                <span ng-class="{true: 'active f14 fl', false: 'f14'}[isHot]">热度</span>
                <i class="check" ng-show="isHot"></i>
            </div>
            <div class="time_block" ng-click="filter('date','asc')">
                <i ng-class="{true: 'time', false: 'time_active fl'}[isHot]"></i>
                <span ng-class="{true: 'f14', false: 'active f14 fl'}[isHot]">时间</span>
                <i class="check" ng-hide="isHot"></i>
            </div>
        </div>
    </div>
    <!--筛选结束-->
    <!--导航开始-->
    <!--<div class="nav swiper-container">
        <div class="swiper-wrapper clear" id="swiper-wrapper">
            <div ng-repeat="nav in navs" class="swiper-slide" on-list-finish-render="navFinishRender">
                <a class="{{kind == nav.type?'active':''}}" ng-click="switch({{nav.type}})" >
                    {{nav.name}}
                </a>
            </div>
        </div>
    </div>-->
    <!--导航-->
    <div class="nav" id="list_nav">
        <ul class="nav_ul">
            <li  class="list_piao " ng-class="{true: 'active',false:''}[listpage==1]"  ui-sref="main.list({kind:'',sort:'hot',direct:'desc',keyword:''})">
                <div class="clear" style="width: 2.2rem;margin: 0 auto;text-align: center;">
                    <span class="fl"style="width: 2.2rem;line-height: 1.0rem;font-size: 0.4rem;">演出</span>
                </div>

            </li>
            <!--<li  class="list_product last"  ng-class="{true: 'active',false:''}[listpage==2]" ui-sref="main.product({kind:'',sort:'hot',direct:'desc',keyword:''})">-->
                <!--<div class="clear" style="width: 2.2rem;margin: 0 auto;text-align: center;">-->
                    <!--<span class="fl" style="width: 2.2rem;line-height: 1.0rem;font-size: 0.4rem;">周边</span>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li  class="list_piao last" ng-class="{true: 'active',false:''}[listpage==1]"  ui-sref="main.list({kind:'',sort:'hot',direct:'desc',keyword:''})">-->
            <!--<div class="clear" style="width: 2.2rem;margin: 0 auto;text-align: center;">-->
            <!--<span class="fl"style="width: 2.2rem;line-height: 1.0rem;font-size: 0.4rem;">周边</span>-->
            <!--</div>-->

            <!--</li>-->
            <li  class="list_product last"  ng-class="{true: 'active',false:''}[listpage==3]" ui-sref="main.newslist({kind:'',sort:'hot',direct:'desc',keyword:''})">
                <div class="clear" style="width: 2.2rem;margin: 0 auto;text-align: center;">
                    <span class="fl" style="width: 2.2rem;line-height: 1.0rem;font-size: 0.4rem;">资讯</span>
                </div>
            </li>
        </ul>
    </div>
    <!--导航结束-->
    <!--列表开始 -->
    <div class="newscontainer" >
        <div class="news-list">
            <ul infinite-scroll="goods.nextPage()" infinite-scroll-disabled='goods.busy' infinite-scroll-distance="1">
                <li class="flag news-list-li" ng-repeat="good in goods.items" on-list-finish-render="listFinishRender" ui-sref="main.newdetail({newId:{{good.id}}})">
                    <img ng-src="{{good.img}}" bn-lazy-src="{{good.thumb}}"  alt="" class="news_list_img">
                    <div ng-bind="good.title" class="news_list_title"></div>
                    <div ng-bind="good.description" class="news_list_description"></div>
                </li>
            </ul>
        </div>
    </div>
    <!--列表结束-->
    <!--暂无数据开始-->
    <div class="nodata" ng-show="goods.nodata">
        <div class="no_classify"></div>
        <p class="f14">这里没资讯，去隔壁看看吧</p>
    </div>
    <!--暂无数据结束-->
    <menu></menu>
</div>