<div class="special_img">
    <h2 class="special_title">太阳马戏</h2>
    <video src="http://image.mydeershow.com/video.mp4" class="video" controls="controls" preload="preload" poster="http://image.mydeershow.com/0.jpg">此浏览器不支持video</video>
    <img src="http://image.mydeershow.com/0.jpg" alt="">
    <img src="http://image.mydeershow.com/1.jpg" alt="">
    <img src="http://image.mydeershow.com/2.jpg" alt="">
    <img src="http://image.mydeershow.com/3.jpg" alt="">
    <img src="http://image.mydeershow.com/4.jpg" alt="">
    <img src="http://image.mydeershow.com/5.jpg" alt="">
    <img src="http://image.mydeershow.com/6.jpg" alt="">
    <img src="http://image.mydeershow.com/7.jpg" alt="">
    <img src="http://image.mydeershow.com/8.jpg" alt="">
    <img src="http://image.mydeershow.com/9.jpg" alt="">
    <img src="http://image.mydeershow.com/10.jpg" alt="">
    <img src="http://image.mydeershow.com/11.jpg" alt="">
    <img src="http://image.mydeershow.com/12.jpg" alt="">
    <img src="http://image.mydeershow.com/13.jpg" alt="">
    <img src="http://image.mydeershow.com/14.jpg" alt="">
    <img src="http://image.mydeershow.com/15.jpg" alt="">
    <img src="http://image.mydeershow.com/16.jpg" alt="">
</div>