<div class="special_img">
    <h2 class="special_title">太阳马戏</h2>
    <video src="static/img/specialIMG/video.mp4" class="video" controls="controls" preload="preload" poster="static/img/specialIMG/0.jpg">此浏览器不支持video</video>
    <img src="static/img/specialIMG/0.jpg" alt="">
    <img src="static/img/specialIMG/1.jpg" alt="">
    <img src="static/img/specialIMG/2.jpg" alt="">
    <img src="static/img/specialIMG/3.jpg" alt="">
    <img src="static/img/specialIMG/4.jpg" alt="">
    <img src="static/img/specialIMG/5.jpg" alt="">
    <img src="static/img/specialIMG/6.jpg" alt="">
    <img src="static/img/specialIMG/7.jpg" alt="">
    <img src="static/img/specialIMG/8.jpg" alt="">
    <img src="static/img/specialIMG/9.jpg" alt="">
    <img src="static/img/specialIMG/10.jpg" alt="">
    <img src="static/img/specialIMG/11.jpg" alt="">
    <img src="static/img/specialIMG/12.jpg" alt="">
    <img src="static/img/specialIMG/13.jpg" alt="">
    <img src="static/img/specialIMG/14.jpg" alt="">
    <img src="static/img/specialIMG/15.jpg" alt="">
    <img src="static/img/specialIMG/16.jpg" alt="">
</div>