<div class="Productorder" ng-controller="ProductorderController">
    <style>
        html,body{
            background: #fff;
            margin-bottom: 1rem;
        }
    </style>
    <!--标题开始-->
    <div class="head pd_tb14">
        <a class="back" go-back></a>
        <span class="headline f18">衍生品订单</span>
    </div>
    <!--标题结束-->
    <!--取消开始-->
    <div class="bgc">
        <span class="text">{{good.orderStatus}}</span>
    </div>
    <!--取消结束-->
    <!--地址详情开始-->
    <div class="add">
        <img src="static\img\home_navigation_location@2x.png" alt="">
        <div class="address">
            <p>收货人：{{good.receiverName}}</p>
            <p>{{good.receiverCountry}}{{good.receiverProvince}}</p>
        </div>
        <p class="left">{{good.receiverPhone }}</p>
    </div>
    <div class="line"></div>
    <!--地址详情结束-->
    <!--商品详情开始-->
    <div class="goods-list clear">
        <div class="productorder-good clear" ng-repeat="goods in good.orderItems">
            <img ng-src="{{goods.productImg}}"  alt="">
            <ul class="good_infoul">
                <li>{{goods.productName}}</li>
                <li>{{goods.good_name}}</li>
                <li class="good-name">{{goods.specificationValueNames}}</li>
            </ul>
            <span class="left">
                <p class="price">￥{{goods.price}}</p>
                <p class="number">×{{goods.quantity}}</p>
            </span>
        </div>

        <ul class="good_priceul">
            <li class="good-price">商品金额：￥{{good.totalPrice}}</li>
            <li class="good-price">快递金额：￥{{good.postFee}}</li>
            <li class="good-price">合计金额：￥{{good.payFee}}</li>
        </ul>
    </div>
    <div class="btn">
        <div class="btn-tui" ng-if="good.orderStatus=='已发货'" ng-click="refund()">申请退货</div>
        <div class="btn-tui" ng-if="good.orderStatus=='已支付'" ng-click="refund()">申请退款</div>

        <div class="btn-shan" ng-if="good.orderStatus=='待支付'"  ng-click="cancelOrder(orderId)">取消订单</div>
        <div class="btn-shan" ng-if="good.orderStatus=='待支付'"  ng-click="verify(orderId,good.orderCreated)">立即支付</div>



        <div class="btn-shan" ng-if="good.orderStatus=='已取消'" ng-click="deleteOrder(orderId)">删除订单</div>
        <div class="btn-shan" ng-if="good.orderStatus=='已完成'" ng-click="deleteOrder(orderId)">删除订单</div>
        <div class="btn-shan" ng-if="good.orderStatus=='已退款'" ng-click="deleteOrder(orderId)">删除订单</div>
    </div>
    <!--商品详情结束-->
    <!--支付方式开始-->
    <div class="mask_pay" ng-click="close()">
        <div class="pay_box br" ng-click="bubble($event)">
            <div class="pay_title f14 pd_rl16">
                <span>支付方式</span>
                <i class="off" ng-click="close()"></i>
            </div>
            <div class="timer pd_tb8 linear">
                <p>支付剩余时间{{date|date:'mm:ss'}}</p>
            </div>
            <div class="pay_method pd_rl12">
                <ul>
                    <li ng-show="!showPay" ng-click="pay()">
                        <i class="alipay"></i>
                        <span>支付宝</span>
                        <i class="arrow"></i>
                    </li>
                    <li ng-show="showPay" ng-click="pay()">
                        <i class="pay_wechat"></i>
                        <span>微信</span>
                        <i class="arrow"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--支付方式结束-->
    <form id="alipaysubmit" name="alipaysubmit" action="" method="post">
        <input type="hidden" name="biz_content" value=""/>
    </form>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</div>